:root {
  /* Dark Theme */
  --night: #000a28;
  --black: #000000;
  --black-a-95: #000000f2;
  --dark-grey: #1e1e1e;

  /* Light Theme */
  --day: #00beff;
  --white: #ffffff;
  --white-a-95: #fffffff2;
  --light-grey: #e1e1e1;

  /* Common Colors */
  --glass: #ffffff80;
  --grey-glass: #7f7f7fcc;
  --dark-glass: #00000002;
  --blue-glass: #0000ff33;
  --grey: #7f7f7f;
  --blue: #4169E1;
  --yellow: #fff666;
  --lg-blue: linear-gradient(45deg, #00BFFF, #4364FC, #31C9FC);

  /* Defaults */
  --order: 0;
}

/* Basic resets and defaults */
html {
  box-sizing: border-box;
  font-size: min(max(1vw, 12px), 16px);
  font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
canvas {
  width: 100%;
}
a {
  color: var(--blue);
  text-decoration: none;
}
input, button, select, textarea {
  background: none;
  border: none;
  font: inherit;
}
button, select {
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 2.125rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
strong {
  font-size: 1.1rem;
}

/* Keyframes */
@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 50%;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes moveBG {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 600% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
  50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flicker {
  0%, 10% { opacity: 0.5; }
  15%,20% { opacity: 0.63; }
  22%,23% { opacity: 0.526; }
  25%,35% { opacity: 0.58; }
  39%,42% { opacity: 0.72; }
  44%,47% { opacity: 0.63; }
  49%,50% { opacity: 0.526; }
  52%,54% { opacity: 0.58; }
  57%,58% { opacity: 0.74; }
  60%,63% { opacity: 0.67; }
  65%,72% { opacity: 0.58; }
  77%,85% { opacity: 0.526; }
  90%,95% { opacity: 0.67; }
  100% { opacity: 0.5; }
}
@keyframes smoke {
	0% {opacity:1; border-radius:50%; transform:scale(1)}
    80% {transform:translate3d(40px,-150px,0px) rotate(20deg) skew(-30deg) scale(2); -webkit-filter:blur(5px); -moz-filter:blur(5px); -ms-filter:blur(5px); -o-filter:blur(5px); border-radius:50%;}
    100% {opacity:0;}
}
@-webkit-keyframes smoke {
    0% {opacity:1; border-radius:50%; transform:scale(1)}
    80% {transform:translate3d(40px,-150px,0px) rotate(20deg) skew(-30deg) scale(2); -webkit-filter:blur(5px); -moz-filter:blur(5px); -ms-filter:blur(5px); -o-filter:blur(5px); border-radius:50%;}
    100% {opacity:0;}
}

/* Theme */
body {
  background: var(--night);
  color: var(--white);
  margin: 0;
  overflow-x: hidden;
}
body.light-on {
  background: var(--day);
  margin: 0;
  overflow-x: hidden;
}
#typing {
  white-space: pre-wrap;
}
h1 {
  text-shadow: 0.1rem 0.2rem 0.2rem var(--grey-glass);
}
h3 {
  text-align: center;
}
.pulse {
  animation-name: pulse;
  animation-duration: 5s;
  animation-delay: calc(var(--order) * 1s);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.flicker {
  animation-name: flicker;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
main > *, #main-header .container {
  margin-inline: auto;
  max-width: 75rem;
}
.light-on {
  background: var(--white);
  color: var(--black);
}
#light-switch {
  border-radius: 6.25rem;
  border: none;
  display: inline-block;
  padding: 0.3rem;
  width: 3.5rem;
  height: 1.8rem;
  background: var(--dark-grey);
  margin-right: 1rem;
}
#light-switch.light-on {
  background: var(--light-grey);
}
#light-switch .icon {
  position: relative;
  display: inline-block;
  transform: translateX(-100%);
  left: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3.125rem;
  box-shadow: inset 0.4rem -0.4rem #f6f1d5;
  transition: all 0.25s ease-in-out;
}
#light-switch.light-on .icon {
  left: unset;
  transform: translateX(100%);
  right: 0.4rem;
  box-shadow: unset;
  background: var(--yellow);
}
.neon-border {
	position: relative;
	background: #00000093;
  border-radius: 3.125rem;
  padding: 0.2rem 1rem;
  width: fit-content;
  margin-inline: auto;
}
.neon-border:before, .neon-border:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: var(--lg-blue);
	background-size: 500%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: moveBG 20s linear infinite;
  border-radius: 3.125rem;
}
.neon-border:after {
	filter: blur(3.125rem);
}
.neon-border.light-on {
  background: unset;
  border: 2px solid var(--glass);
  padding: 0 0.875rem 0 0.875rem;
}
.neon-border.light-on:before, .neon-border.light-on:after {
  all: unset;
}

/* Common Classes */
.flex-scw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}
.flex-scw.cg1 {
  column-gap: 1rem;
}
.c-txt {
  cursor: text;
}

/* Main Header */
#main-header {
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--black-a-95);
  animation: slideIn 0.5s ease-in-out;
}
#main-header.light-on {
  background: var(--white-a-95);
}
#me h1 {
  font-family: 'Akaya Telivigala', cursive;
  margin: 0.5rem 0;
}
#main-header li {
  animation-name: scaleIn;
  animation-duration: 400ms;
  animation-delay: calc(var(--order) * 400ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  font-size: 1.2rem;
}
.house {
  position: relative;
  display: inline-block;
}
.house img {
  height: 3.4375rem;
}
#chimney-smoke-box {
  position: absolute;
  z-index: -1;
  transform: scale(25%);
  top: -1rem;
  right: 0;
  height: 3.125rem;
  width: 1.25rem;
}
.chimney-smoke {
  position:relative;
  height: 100%;
  width:100%;
  animation: smoke 3.5s infinite ease-out; -webkit-animation:smoke 3.5s infinite ease-out;
	background: #2c2c2c;
	background: -webkit-repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	background: -o-repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	background: -moz-repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	background: repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-ms-filter: blur(4px);
	-o-filter: blur(4px);
	filter: blur(4px);
}
#chimney-smoke2 {top:-3.4375rem; animation-delay:0.5s;}
#chimney-smoke3 {top:-6.5625rem; animation-delay:1s;}
#chimney-smoke4 {top:-8.5625rem; animation-delay:1.5s;}
#chimney-smoke5 {top:-12.8125rem; animation-delay:2.5s;}
#chimney-smoke6 {top:-15.9375rem; animation-delay:3s;}
.house-bg {
  position: absolute;
  z-index: -1;
  transform: translateX(-50%);
  bottom: 0.8rem;
  left: 50%;
  border-bottom: 2.4rem solid #f70;
  border-left: 1.3rem solid transparent;
  border-right: 1.3rem solid transparent;
  height: 0;
}
#main-header .neon-border {
  margin: 1rem 0;
}

/* Main Content */
.box-shadow {
  border-radius: 1.5625rem;
  box-shadow: 0 10px 16px 0 var(--dark-glass),0 6px 20px 0 var(--black-a-95);
}
main section {
  background: var(--dark-glass);
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
}
#home {
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  padding: 1rem;
}
#home img {
  width: 20rem;
  opacity: 0.95;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}
main .flex-scw {
  justify-content: space-evenly;
}
main .flex-scw div {
  max-width: 100%;
}
main h1 {
  margin-top: 0;
}
main h4, main h3 {
  margin-bottom: 0.25rem;
}
main h1, #home h4, #home p {
  text-align: center;
}
.tablet {
  max-width: 100vw;
}
.tablet .screen a {
  display: flex;
}
.tablet img {
  width: 31.25rem;
  max-width: 100%;
}
.screen {
  width: 32.1875rem;
  max-width: 100%;
  height: 18.75rem;
  overflow-y: scroll;
  border: solid 1rem #333;
  border-radius: 0.5rem;
}
.screen::-webkit-scrollbar {
  width: 0.9375rem;
  max-width: 100%;
}
.screen::-webkit-scrollbar-thumb {
  background: #666;
}
::-webkit-scrollbar-track {
  background-color: #888;
}
#about strong {
  position: relative;
  z-index: -1;
}
#about p {
  margin-top: 0;
}
#about, #portfolio {
  padding: 1rem 1rem 1.5rem;
}
#about span, #about strong {
  font-weight: bold;
  color: var(--yellow);
}
#portfolio h4 {
  position: relative;
  z-index: -1;
  color: var(--yellow);
}

/* Footer */
footer {
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--black-a-95);
  animation: slideIn 2s ease-in-out;
}
footer .f-home a {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: var(--blue-glass);
}
footer .f-home a div {
  position: absolute;
  top: 1.3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000aa;
  text-shadow: 0 0 5px var(--white), 0 0 10px var(--white), 0 0 15px var(--white), 0 0 20px var(--blue), 0 0 30px var(--blue), 0 0 40px var(--blue), 0 0 55px var(--blue), 0 0 75px var(--blue);
  font-size: 2rem;
}
footer.flex-scw {
  justify-content: center;
}

/* Media Queries */ 
@media only screen and (max-width: 525px) {
  footer {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 600px) {
  #me h1 {
    margin: 0;
  }
  header nav {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  main h4 {
    text-align: left;
  }
}